body{
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #14213D;
    color: #FFFFFF;
}
h1{
    font-size: 33px;
    line-height: 53px;
}
h2{
    font-size: 26px;
    line-height: 43px;
}
h3{
    font-size: 20px;
    line-height: 35px;
}
p{
    padding: 0 0 20px;
    margin: 0;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
a{
    color: #E5E5E5;
    text-decoration: none;
}
a:hover, a:focus {
    color: #FCA311;
    text-decoration: underline;
}
/***/
.container{
    max-width: 780px;
    margin: 0 auto;
    padding: 26px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}
section{
    padding: 53px 0;
}
/* Main menu */
header h1{
    animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards;
}

.header__menu__inner{
    display: flex;
    justify-content: center; 
    font-size: 16px;
    line-height: 29px;    
}
.header__menu__inner--desktop li{
    margin: 0 10px;
}
.header__menu__inner--desktop li:last-of-type{
    margin-right: 0;
}
.header__menu__inner--desktop li a{
    position: relative;
    transition: all 2s;
    text-decoration: none;
    color:#FFFFFF;
    padding: 5px;
}
.header__menu__inner--desktop li a::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    opacity: 0;
    background: #FCA311;
    height: 5px;
}
.header__menu__inner--desktop li a:hover{
    color:#14213D;
    z-index: 1;
}
.header__menu__inner--desktop li a:hover::after{    
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}



.header__menu__inner--mobile{
    display: none;
}
/* Single post styles */
.post-title{
    /*margin-bottom: 20px;*/
}
.post-meta{
    margin-bottom: 20px;
}
.post-meta span{
    font-size: 13px;
    line-height: 24px;
}
.post-meta span img{
    margin-right: 5px;
    width: 10px;
    height: 10px;
}
.post-image img, .post-image video{
    width: 100%;
    margin-bottom: 48px; /*wysokość jednej linijki 16px tekstu*/
}
/*Pagination*/

.pagination__buttons{
    text-align: center;
}


/* Footer */
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__menu__inner{
    display: flex;
}
.footer__menu__inner li {
    margin: 0 10px;
}
.footer__menu__inner li:first-of-type{
    margin-left: 0;
}
/* Keyframes */
 @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 5px;
    }
    50% {
      width: 100%;
      height: 5px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #FCA311;
    }
  }
  @keyframes shadow-pop-tl {
    0% {
      box-shadow: 0 0 #e5e5e5, 0 0 #e5e5e5, 0 0 #e5e5e5, 0 0 #e5e5e5, 0 0 #e5e5e5, 0 0 #e5e5e5, 0 0 #e5e5e5, 0 0 #e5e5e5;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: -1px -1px #e5e5e5, -2px -2px #e5e5e5, -3px -3px #e5e5e5, -4px -4px #e5e5e5, -5px -5px #e5e5e5, -6px -6px #e5e5e5, -7px -7px #e5e5e5, -8px -8px #e5e5e5;
      transform: translateX(8px) translateY(8px);
    }
  }
  
  